fastapi==0.115.12
uvicorn[standard]==0.34.2
paho-mqtt==2.1.0
pymongo==4.12.0
pydantic==2.12.0
pydantic-settings==2.9.1
pydantic-core>=2.29
python-dotenv==1.1.0
requests==2.32.3
email-validator==2.1.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
